@media only screen and (max-width:390px) {
img{
width: 150px;
height: 70px;
}
.headerlogo .material-icons{
float: right;
margin-top: 0;
margin-right: 2px;

}
}

.headerlogo i:hover{
color: rgb(218, 218, 226);
}

.headerlogo a i{
color: black;
}
.headerlogo a i:hover{
color: rgb(218, 218, 226);
}

.headertitle{
text-align:center;
font-family:'Times New Roman', Times, serif;
font-size: 36px;
font-weight:700;
color:rgb(62, 62, 62);
margin-top: 8px;
text-indent: -20px;
}

@media only screen and (max-width:990px) {
.container .headertitle{
display: none;
}
}

html {
height: 100%;
}

body{
height: 100%;
margin: 0;
background-repeat: no-repeat;
background-attachment: fixed;
background: rgb(182,180,219);
background: linear-gradient(90deg, rgba(182,180,219,0.846673703661152) 0%, rgba(194,178,235,0.05395661682641806) 0%);
}

.navbar{
clear: both;
background: rgba(62, 24, 103, 0.899);
}

.navbar .navbar-brand {
font-weight: bolder;
}

.navbar .navbar-brand span{
color : cornsilk ;
}

.navbar .navbar-nav .nav-item {
padding: 5px;
}

.navbar .navbar-nav .nav-item .nav-link {
color: cornsilk ;
font-weight:600;
}

.navbar .navbar-nav .nav-item .nav-link:hover{
background: rgb(163, 143, 204) ;
border-radius: 5px;
color:black;
}

.navbar .navbar-nav .nav-item .dropdown .btn{
color: cornsilk ;
font-weight:600;
margin-top: 2px;
}

.navbar .navbar-nav .nav-item .dropdown .btn:hover{
background: rgb(163, 143, 204);
color:black;
}

.navbar .navbar-nav .nav-item .dropdown .dropdown-menu .dropdown-item:hover{
background: rgb(180, 130, 226) ;
color: white;
font-weight: 600;
}

.navbar .form-inline .btn:hover{
background: rgb(165, 154, 213);
color:black;
font-weight: 600;
}


@media only screen and (max-width:990px) {
.navbar .nav-item button {
margin-left: -14px;
}
#headerSearch {
display:none;
}
.followus{
display: none;
}
.links {
display:none;
}

}

#wrapper {
overflow-x: hidden;
}

#sidebar-wrapper {
min-height: 75vh;
margin-left: -0.5rem;
-webkit-transition: margin .25s ease-out;
-moz-transition: margin .25s ease-out;
-o-transition: margin .25s ease-out;
transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
padding: 0.875rem 1.25rem;
font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
width: 15rem;
}

#page-content-wrapper {
min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
margin-left: 0;
}

@media (min-width: 768px) {
#sidebar-wrapper {
margin-left: 0;
}

#wrapper .list-group .dropdown-menu a:hover{
background: rgb(180, 130, 226);
color:white;
font-weight: 600;
}

#wrapper .list-group .dropdown .dropdown-menu .dropdown-item:hover{
color: white ;
font-weight:600;
}

#wrapper .list-group {
font-weight:600;
}
#wrapper .list-group .list-group-item a:hover {
background: rgb(180, 130, 226);
color:white;
font-weight: 300;
}

#page-content-wrapper {
min-width: 0;
width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
margin-left: -15rem;
}
}

.myFooter{
color:rgb(255, 250, 250);
font-weight:normal;
background: rgb(182,180,219);
background: linear-gradient(90deg, rgba(182,180,219,0.846673703661152) 0%, rgba(30,19,59,1) 0%);
margin:0px auto;
padding: 20px 0px 20px 0px;
}

.footer .followus .text-center .list-unstyled .btn{
color:white;
}

.footer .links .list-unstyled li a{
color: white;
}

.footer .followus .text-center .list-unstyled .btn:hover{
width: 40px;
height: 40px;
background-color: cadetblue;
border-radius: 50%;
}

.MyContainer {
position: relative;
text-align: center;
color: white;
}
/* Centered text */
.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.carousel {
width:100%;
height:480px;
}

@media only screen and (max-width:390px){
.MyContainer{
display:none;
}
}


.chip {
    display: inline-block;
    padding: 6px 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
  
  .chip img {
    float: left;
    margin: -8px 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .username{
      font-weight: bold;
      margin: 20px 0 0 0;
      font-size: large;

  }